
* { 
    margin:0;
    padding:0;
}

body {
    background-color: black;
    width:100%;
}

/*Fondo para imagen del inicio */
.profile-pic, .dark-2 {
    background-color: #F0EFEF;
}

/*Estilos para el texto de la foto del inicio */
.phrase {
    color:#0B0B0B;
    font-style: italic;
}

/*Estilo para los iconos de la sección de experiencia*/
.experience {
    font-size: 80px; 
}

/*Estilos para el scroll automatico de los trabajos en inicio*/
.scroll-container {
    overflow-x: hidden;
}

/*Estilos de animación para la sección de selección de temas para la pagina*/
@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

header, main, section, footer {
    transition: transform 0.5s ease; /* Usar la misma duración que la animación de cierre */
}

/* Desplazamiento suave del contenido cuando el aside está abierto */
body.close-themes-selector header,
body.close-themes-selector main,
body.close-themes-selector section,
body.close-themes-selector footer {
    transition: transform 0.5s ease; /* Ajustar la duración según la animación del aside */
}

/*Animación para los textos que van a moverse hacia derecha*/
.left-texts {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: move-left 10s linear infinite;
    -webkit-animation: move-left 10s linear infinite;
    animation: move-left 10s linear infinite;
}

/*Animación para los textos que van a moverse hacia la derecha*/
.right-texts {
    text-align: right;

    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: move-right 10s linear infinite;
    -webkit-animation: move-right 10s linear infinite;
    animation: move-right 10s linear infinite;
}
  
/*Clase para la animación de las categorías*/
.category {
    background-color: #F0EFEF;
    color: #0B0B0B;
    width:100%
} 



/*Keyframes de animación a la izquierda*/
@keyframes move-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
  
  /* for Firefox */
@-moz-keyframes move-left {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
    }

    /* for Chrome */
    @-webkit-keyframes move-left {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
}

/*Keyframes de animación a la derecha*/
@keyframes move-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

  /* for Firefox */
@-moz-keyframes move-right {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
}
    
/* for Chrome */
@-webkit-keyframes move-right {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
}

/*Al hacer hover se detiene la animación*/
.right-texts:hover{
    animation-play-state: paused !important;
}

.left-texts:hover{
    animation-play-state: paused !important;
}

.rol-job {
    width: 72%
}

.circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.coffee-1 {
    background: #92714B;
}

.coffee-2 {
    background: #FDF4A6;
}

.dark-1 {
    background:#0B0B0B;
}

@keyframes fadeInFromBottom {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeInFromBottomTitle {
    animation: fadeInFromBottom 1s ease-out;
  }

